<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Private Reserve</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a7e017b024.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4 class="text-center">Private Reserve</h4>
      <ul class="nav nav-pills nav-stacked" id="style-nav">
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/dashboard"><i class="fas fa-chalkboard"></i> Dashboard</a></li>
        {{!-- <li><a href="/login">Login</a></li> --}}
      </ul>
    </div>


  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-9 text-decoration-none">

        <main class="col-auto">
          <h2>Previous Entries</h2>
          {{{body}}}
        </main>

      </div>
    </div>
  </div>
</div>

  <footer class="container-fluid text-center">
    &copy; The Private Reserve 2020
  </footer>
</body>

</html>

